<h3>User List</h3>

<button type="button" @onclick="OnCreate">Create</button>

@if (Items?.Count > 0)
{
    <table>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Address</th>
            <th>Created At</th>
            <th></th>
        </tr>

        @foreach (var item in Items)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Address</td>
                <td>@item.CreatedAt</td>
                <td>
                    <button type="button" @onclick="()=>OnEdit.InvokeAsync(item)">
                        Edit
                    </button>
                    <button type="button" @onclick="()=>OnDelete.InvokeAsync(item)">
                        Delete
                    </button>
                </td>
            </tr>
        }


    </table>
    }
    else
    {
        <span>No Items.</span>
    }


@code {

    [Parameter]
    public List<UserListItem>? Items { get; set; }
    [Parameter]
    public EventCallback OnCreate { get; set; }
    [Parameter]
    public EventCallback<UserListItem> OnEdit { get; set; }
    [Parameter]
    public EventCallback<UserListItem> OnDelete { get; set; }

}

